<%
var pageTitle = '' 
if (page.title) pageTitle += ' ' + page.title
if (is_archive()) pageTitle += ' Archives';
if (is_tag()) pageTitle += ' Tag: ' + page.tag;
if (is_category()) pageTitle += ' Category: ' + page.category;
if (is_month()) pageTitle += ' : ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ' : ' + page.year;

if (is_home()) pageTitle += ' '  + config.subtitle;
%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#202020"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="title" content="<%=page.title%>">

  <% if (page.date) { %>
    <meta name="publish_date" property="og:publish_date" content="<%= page.date.format() %>">
  <% } %>
  
  <% if (page.excerpt) { %>
    <meta name="description" content="<%= page.excerpt %>" />
    <meta property="og:description" content="<%= page.excerpt %>">
    <meta property="twitter:description" content="<%= page.excerpt %>">
  <% } else {  %>
    <meta name="description" content="<%= config.description %>" />
    <meta property="og:description" content="<%= config.description %>">
    <meta property="twitter:description" content="<%= config.description %>">
  <% } %>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= page.permalink %>">
  <meta property="og:title" content="<%= page.title %>">

  <% if (page.image) { %>
    <meta property="twitter:image" content="<%= (config.url + page.image) %>">
    <meta property="og:image" content="<%= (config.url + page.image) %>">
  <% } else {  %>
    <meta property="og:image" content="<%= (config.url + '/images/logo.jpeg') %>">
    <meta property="twitter:image" content="<%= (config.url + '/images/logo.jpeg') %>">
  <% } %>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="<%= page.permalink %>">
  <meta property="twitter:title" content="<%= page.title %>">
  
  <% if (page.tags && page.tags.length) { %>
    <meta name="keywords" content="<% page.tags.forEach(function(tag) { %><%= tag.name %>,<% }); %>" />
  <% } else { %>
    <meta name="keywords" content="<%= config.keywords %>" />
  <% } %>

  <meta name="author" content="Joery Vreijsen">
  
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
</head>
