<article class="post page" id="page">
  <% if(page.header) { %>
    <header class="post-header text-center">
      <h1 class="title"><%= page.header %></h1>

      <% if(page.excerpt) { %>
        <div class="page-excerpt">
          <%= page.excerpt %>
        </div>
      <% } %>
    </header>
  <% } %>
  <div class="post-content">
    <% if (page.type === "tags"){ %>
          <% if (site.tags.length){ %>
                <%- list_tags() %>
          <% } %>
      <% } else if (page.type === "categories") { %>
        <%- list_categories(site.categories) %>
      <% } else if (page.type === "search") { %>
        <%- partial('partials/search') %>
      <% } else { %>
        <%-page.content%>
      <% } %>
  </div>
</article>